
nav ul li a.active {
    color: #FFDF8E; /* Change color as desired */
    font-weight: bold; /* Example style */
}

.skip-link {
    position: relative;
    top: -40px; /* Move the link off-screen */
    left: 0;
    z-index: 999; /* Ensure it's on top of other elements */
    text-decoration: none;
}

.skip-link:focus {
    top: 0; /* Move the link back to its original position */
    visibility: visible; /* Make the link visible when focused */
}

.skip-link:focus:not(:focus-visible) {
    top: -40px; /* Hide the link again if focus is lost */
    visibility: hidden; /* Hide the link when focus is lost */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #36454F;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.pet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.pet img {
    max-width: 100%;
    height: auto;
}

.pet ul {
    padding-left: 20px;
}
.recipe {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.recipe img {
    height: auto;
    width: 40%;
    border-radius: 5px;
}

.recipe-details {
    grid-column: 1 / 2;
}

.recipe-instructions {
    grid-column: 2 / 3;
}

ul,
ol {
    padding-left: 20px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.photo-gallery img,
.photo-gallery video {
    width: 20%;
    height: auto;
}

.gallery-item {
    text-align: center;
}

/* Hide animations when user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
    /* Hide GIFs */
    img[src$=".gif"] {
        display: none;
    }

    /* Hide videos */
    video {
        display: none;
    }

    /* Alternatively, you can also use the 'animation' property */
    * {
        animation: none !important;
        transition: none !important;
    }
}

@media screen and (min-width: 768px) {
    /* Increase the font size and padding of navigation links */
    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px; /* Adjust the font size as needed */
        padding: 15px 20px;
    }

    /* Increase the font size and padding of the header */
    header {
        background-color: #36454F;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 24px;
    }

    h1 {
        font-size: 28px;
    }

    .recipe img:nth-child(1) {
        cursor: url("images/c++_logo.png"), pointer;
    }

    .recipe img:nth-child(2) {
        cursor: url("images/python_icon.png"), pointer;
    }

    .recipe img:nth-child(3) {
        cursor: url("images/javascript_icon.png"), pointer;
    }
}

@media screen and (min-width: 1024px) {
    /* Increase the font size and padding of navigation links */
    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 0px;
    }

    /* Increase the font size and padding of the header */
    header {
        background-color: #36454F;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 16px;
    }
}